.login_form {
     top: 150px;
     position: relative;
     width: 400px;
     height: 270px;
     background-color: #b800ff;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0;
 }

.field-set {
    margin:0 10px;
    background-color: aqua;
    height:50px;
}

#meniu {
    width: 400px;
    height: 200px;
    border-style: solid;
}
.user_menu_container{
    position: relative;
    padding-left: 70em;
    padding-top: 2em;

}

.TableClass {
    background-color: #0080ff;
    margin-left: 10%;
    border: 5px solid black;

}
table, td, th, tr{
    border: 0.1em solid black;
}

.session-table{
    background-color: lightsteelblue;
}